

.one {
    color: red;
    border-bottom: 2px solid red; 
}

.two {
    color: green;
    border-bottom: 2px solid green; 
}

.three {
    color: blue;
    border-bottom: 2px solid blue; 
}

.four {
    color: black;
    border-bottom: 2px solid black; 
}

.one,
.two,
.three,
.four {
    padding: 15px;
    margin: 20px 0px;
    background-color: #FFF;
}