

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    color: white;
    text-align: center;
    width: 100px;
    padding: 10px;


    /* For testing => position: fixed; */
    height: 3000px;

}

.lim {
    background-color: gray;
    width: 100%;
    height: 20px;

    position: sticky;
    top: 5px;
}

.lorem {
    color: black;
    width: 80%;
    margin-left: 10%;
}


 .one {
    background-color: red;

    /* 
    position: relative;
    top: 77px;
    left: 120px; 
    */

    /* 
    position: absolute;
    bottom: 0px;
    right: 0px; 
    */

    /* 
    position: fixed;
    top: 0px;
    right: 0px;
    height: 20px; 
    */

    position: sticky;
    top: 45px;
    height: 20px; 

}

.two {
    background-color: green;

    height: 20px;
}



/* 
    Position:

        -   static => default
        -   relative => change the position of the element using: top, bottom, left and right
        -   absolute => same as relative BUT, the coordinate will start compairing with the parent element 
                        (in condition that the parent has position: relative; 
                        and if not, it will go out and so on searching on a position relative, 
                        if there not so it will take the body as a parent).
        -    fixed => (explained before), it will take a place in the screen and the element will be fixed no metter if we do a scroll or not.
        -   sticky => it will be fixed on a spacific coordante



*/