

/* TODO: 1 */
/* 
    div {
        background-color: blueviolet;
        background-color: rgb(138 34 226);
        background-color: #8a22e2;
        width: 500px;
        margin: auto;
        padding: 20px;
    }

    .assign-1-shape-2 {
        background-color: rgb(138 34 226 / 50%);
    }

    .assign-1-shape-3 {
        background-color: rgb(138 34 226 / 10%);
    } 
*/


/* TODO: 2 */
/*
    div {
        background-color: #DDD;

        width: 400px;
        height: 400px;
        background-image: url("../imgs/css-assignment-5-8.png");
    }


    .assign-2-shape-1 {
        background-repeat: no-repeat;
    }

    .assign-2-shape-2 {
        background-repeat: repeat-y;
    }

    .assign-2-shape-3 {
        background-repeat: repeat-x;
    }

    .assign-2-shape-4 {
        background-repeat: repeat;
    }
*/

/* TODO: 3 */
/*
    div {
        width: 400px;
        height: 400px;
        background-image: url("../imgs/css-assignment-5-8.png");
    }

    .assign-2-shape-1 {
        background-repeat: no-repeat;
    }

    .assign-2-shape-2 {
        background-repeat: repeat-y;
        background-position: right;
    }

    .assign-2-shape-3 {
        background-repeat: repeat-x;
        background-position: bottom;
    }

    .assign-2-shape-4 {
        background-repeat: repeat;
    }
*/

/* TODO: 4 */
/*
    div {
        background-color: #DDD;
        margin: 20px;

        width: 400px;
        height: 400px;
        background-image: url("../imgs/css-assignment-5-8.png");
    }

    .assign-2-shape-1 {
        background-repeat: no-repeat;
        background-size: 80%;
    }

    .assign-2-shape-2 {
        background-repeat: repeat-y;
        background-size: 80%;
        background-position: right;
    }

    .assign-2-shape-3 {
        background-size: 80%;
        background-repeat: repeat-x;
        background-position: bottom;
    }

    .assign-2-shape-4 {
        background-repeat: no-repeat;
        background-position: right bottom;

    }
*/