

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* TODO: 1 */

.todo1 div {
    width: 50px;
    height: 50px;
    margin: 50px auto;

    border-radius: 50%;
    border: 5px solid #f62c6c;
    border-left-color: transparent;

    position: relative;

    transform: rotate(0deg);

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.todo1 div:hover {
    animation-play-state: paused;
}

.todo1 div::before {
    content: "";
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    position: absolute;
    top: -12.5px;
    left: -12.5px;
    border-radius: 50%;
    border: 5px solid rgb(0, 179, 255);
    border-right-color: transparent;
    z-index: -1;
}

.todo1 div::after {
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    position: absolute;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    border: 5px solid rgb(251, 144, 30);
    border-bottom-color: transparent;
    z-index: -2;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}




/* -------------------------------------------- */
/* TODO: 2 */

.todo2 .container {

    width: 100px;
    height: 100px;
    margin: 50px auto;

    position: relative;    
}

.todo2 .container .one {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 5px solid #00b3ff;
    border-bottom-color: transparent;
    position: absolute;
    top: 25px;
    left: 25px;

    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;

}

.todo2 .container:hover .one,
.todo2 .container:hover .two,
.todo2 .container:hover .three {
    animation-play-state: running;
}

.todo2 .container .two {
    width: 65px;
    height: 65px;

    border-radius: 50%;
    border: 5px solid #fb901e;
    border-bottom-color: transparent;
    position: absolute;
    top: 17.5px;
    left: 17.5px;

    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.todo2 .container .three {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    border: 5px solid black;
    border-bottom-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;

    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}




/* -------------------------------------------- */
/* TODO: 3 */

.todo3 span {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    background-color: #eee;
    border-radius: 50%;
    border: 5px solid black;
    border-left-color: transparent;

    animation: spin 1s linear 0s infinite reverse;
}




/* -------------------------------------------- */
/* TODO: 4 */

.todo4 .grid {
    width: 250px;
    height: 200px;
    margin: 30px auto;
    padding: 10px;
    background-color: #eee;

    display: flex;
    justify-content: space-between;
    align-content: center;

    position: relative;

}

.todo4 .grid .left {
    width: 47%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.todo4 .grid .left .one {
    background-color: #333;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;

}

.todo4 .grid .left .two {
    background-color: #333;
    grid-row: 1 / span 7;
    grid-column: 1 / span 1;

}

.todo4 .grid .left .three {
    background-color: #eee;
    grid-row: 2 / span 2;
    grid-column: 2 / span 3;

}

.todo4 .grid .left .four {
    background-color: #333;
    grid-row: 4 / span 1;
    grid-column: 2 / span 3;

}

.todo4 .grid .left .five {
    background-color: #eee;

    grid-row: 5 / span 2;
    grid-column: 2 / span 3;
}

.todo4 .grid .left .six {
    background-color: #333;

    grid-row: 7 / span 1;
    grid-column: 2 / span 3;
}

.todo4 .grid .right {
    width: 47%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.todo4 .grid .right .one {
    background-color: #333;
    grid-row: 1 / span 7;
    grid-column: 1 / span 1;
}

.todo4 .grid .right .two {
    background-color: #eee;
    grid-row: 1 / span 6;
    grid-column: 2 / span 3;

}

.todo4 .grid .right .three {
    background-color: #333;
    grid-row: 7 / span 1;
    grid-column: 1 / span 4;
}

.todo4 .grid .square {
    width: 17px;
    height: 17px;
    background-color: orange;
}

.todo4 .grid .left .square {
    position: absolute;
    top: 14.5px;
    left: 95px;

    animation-name: animE;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.todo4 .grid .right .square {
    position: absolute;

    bottom: 14.5px;
    right: 14.5px;
    opacity: 0%;

    animation-name: animL;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

@keyframes animE {
    0% {
        top: 14.5px;
        left: 95px;
    }
    10% {
        top: 14.5px;
        left: 15px;
    }
    20% {
        top: 91.5px;
        left: 15px;
    }
    30% {
        top: 91.5px;
        left: 95px;
    }
    40% {
        top: 91.5px;
        left: 15px;
    }
    50% {
        top: 169px;
        left: 15px;
    }
    60% {
        top: 169px;
        left: 95px;
    }
    70% {
        top: 169px;
        left: 15px;
    }
    90% {
        top: 14.5px;
        left: 15px;
    }
    100% {
        top: 14.5px;
        left: 95px;
    }
}

@keyframes animL {
    0% {
        opacity: 0%;
        bottom: 14.5px;
        right: 14.5px;
    }
    20% {
        opacity: 100%;
        bottom: 14.5px;
        right: 14.5px;
    }
    45% {
        opacity: 100%;
        bottom: 14.5px;
        right: 96px;
    }
    80% {
        opacity: 100%;
        bottom: 167.5px;
        right: 96px;
    }
    100% {
        opacity: 0%;
        bottom: 167.5px;
        right: 96px;
    }
}