


* {
    box-sizing: border-box;
}

/* TODO: 1 */

.todo1 div {
    width: 600px;
    margin: 50px auto;
    background-color: #eee;
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;

    position: relative;
    
}

.todo1 div::first-letter {
    color: rgb(236, 42, 4);
}

.todo1 div::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);

    background-image: linear-gradient(
        to right,
        #ff4e22 20%,
        #2d9ee2 20%,
        #2d9ee2 40%,
        #31aa31 40%,
        #31aa31 60%,
        #de2f5e 60%,
        #de2f5e 80%,
        #6930a2 80%
    );
    z-index: -1;

    position: absolute;
    top: -10px;
    left: -10px;
}


/* ------------------------------------------ */
/* TODO: 2 */

.todo2 div {
    width: 600px;
    height: 60px;
    margin: 20px auto;
    position: relative;
}

.todo2 input {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 20px;

    background-color: #eee;
    border: none;
    outline: none;
    caret-color: red;

}

.todo2 div::before {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #ff4e22;
    background-image: linear-gradient(
        to right,
        #ff4e22 50%,
        #36a787 50%,
        #36a787
    );

    position: absolute;
    bottom: -3px;
    left: 0;
}