

body {
    font-family: Arial, Helvetica, sans-serif;
}




/* TODO: 1 */

.todo1 .parent {
    background-color: #eee;
    width: 1000px;
}

.todo1 .parent div {
    background-color: rgb(213, 213, 213);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-left: 15px;
    margin-top: 15px;
}

.todo1 .parent .g1 {
    width: calc(100% - 30px);
    float: left;
}

.todo1 .parent .g2 {
    width: calc((100% - 60px) / 3);
    float: left;
}

.todo1 .parent .g3 {
    width: calc((100% - 45px) / 2);
    float: left;
}

.todo1 .parent .g4 {
    width: calc((100% - 75px) / 4);
    float: left;
    margin-bottom: 15px;
}

.todo1 .clear {
    clear: both;
} 




/* TODO: 2 */

.todo2 div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: rgb(165, 165, 165); 
    color: black;
}

.todo2 .one {
    background-color: rgb(165, 165, 165, 0.1);
}

.todo2 .two {
    opacity: 0.1;
}