

.parent {
    background-color: red;
    padding: 10px;

}


.parent div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #eee;

    /*
        Float => left or right
        if left => the first element will be the first at left, then the second ...
        if right => the first element will be the first at right, then the second at its left and so on ...   
    */

    width: 25%;
    float: left;

    /* 
        Here we can see that the height of the parent is 20px, those pixels are the padding 10px + 10px
        to solve the problem, we add => overflow: hidden; to the parent.
        BUT we will have anothe big problem that anything go out from the parent will be cutted out, so we connot do this as well.

        For this we have "clear".
    */
}


.clear {
    clear: both;
}