

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* TODO: 1 */

.todo1 div {
    width: 100px;
    height: 100px;
    background-color: #eee;

    margin: 20px auto;
    margin-left: 60px;
    float: left;

    position: relative;
    counter-increment: nb;

    border-radius: 50%;
    outline: 2px solid black;

    box-shadow: -5px -5px 0px 2px rgb(255, 0, 85),
                5px 5px 0px 2px rgb(0, 136, 255);
}

.todo1 div::before {
    content: counter(nb);
    background-color: black;
    color: white;

    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 1px 0 0;
    border-radius: 50%;
    top: -10px;
    left: 40px;
}

.todo1 div::after {
    content: "Element";
    position: absolute;
    top: 40px;
    left: 20px;
}


/* --------------------------------------------------- */

/* TODO: 2 */

.todo2 div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 30px auto;

    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;

    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5) inset;
}


/* --------------------------------------------------- */

/* TODO: 3 */

.todo3 .parent {
    width: 550px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.todo3 .parent .basic,
.todo3 .parent .pro {
    background-color: #eee;
    width: 170px;
    height: 100%;
    margin: 0 10px;
    float: left;

    position: relative;
}

.todo3 .parent .basic {
    margin-left: 75px;
}

.todo3 .or {
    background-color: rgb(0, 170, 255);
    width: 1px;
    height: 100%;
    margin: 0 20px;
    
    float: left;
}


.todo3 .parent .basic::before {
    content: "Basic";
    background-color: rgb(0, 170, 255);
    color: white;
    width: 115px;
    text-align: center;
    font-weight: bold;

    padding: 5px 15px;
    border-radius: 5px;

    position: absolute;
    top: 10px;
    left: 12.5px;


}

.todo3 .parent .pro::before {
    content: "Pro";
    background-color: rgb(0, 170, 255);
    color: white;
    width: 115px;
    text-align: center;
    font-weight: bold;

    padding: 5px 15px;
    border-radius: 5px;

    position: absolute;
    top: 10px;
    left: 12.5px;


}

.todo3 .parent .basic::after {
    content: "Free";

    background-color: rgb(224, 224, 224);
 
    width: 50px;
    height: 50px;
    padding-bottom: 35px;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;
    
    border-radius: 50%;

    text-align: center;
    font-size: 25px;

    position: absolute;
    top: 50px;
    left: 15px;
}

.todo3 .parent .pro::after {
    content: "30$";

    background-color: rgb(224, 224, 224);
    
    width: 50px;
    height: 50px;
    padding-bottom: 35px;
    padding-top: 55px;
    padding-left: 45px;
    padding-right: 45px;

    border-radius: 50%;

    text-align: center;
    font-size: 25px;

    position: absolute;
    top: 50px;
    left: 15px;
}

.todo3 .parent .or::before {
    content: "or";
    width: 10px;
    height: 10px;
    padding: 3px 6px 8px 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(0, 170, 255);
    color: white;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: 91px;
    left: 265px;
}