
html {
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}


/* TODO: 1 */
.todo1 div {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.todo1 p {
    border: inherit;
    padding: inherit;
    margin: inherit;
    background-color: #DDD;

}



/* TODO: 2 */
.todo2 .l1 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.todo2 .l2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

.todo2 .l3 {
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
}


/* TODO: 3 */
.todo3 .l1 {
    font-size: 2.5rem;
}

.todo3 .l2 {
    font-size: 2rem;
}

.todo3 .l3 {
    font-size: 1.5rem;
}
