/* 

body {
    font-family: Arial, Helvetica, sans-serif;
}


div {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    font-size: 20px;
    border: 2px solid red;

}


div p {
    border: 2px solid;
    border-color: inherit;
    padding: inherit;
} */



/* .with-ser {
    font-family: 'Times New Roman', Times, serif
}

.without-ser {
    font-family: Arial, Helvetica, sans-serif;
}

.with-ser,
.without-ser,
.sa {
    background-color: #eee;
    padding: 10px;
}


.sa {
    font-family: 'Cairo', sans-serif;
} */


/* 
    Units:
        -   px
        -   em => Time
        -   rem => Root Time
        -   % => percent
        -   vw => View Port Width
*/
/* 
div {
    font-size: 5vw;
}
*/


/* 
    -   font-style  => italic ...
    -   font-variant => small-caps
    -   font-weight => how much "bold" => to delete the bold we put "normal".
*/
/* div {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
} */


/* CURSOR */
button {
    background: transparent;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

p {
    cursor: grab;
}