

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* TODO: 1 */

@media print {
    .todo1 .assign-one {
        font-size: 40px;
    }
}


/* ------------------------------ */
/* TODO: 2 */

.todo2 .container {
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.todo2 .container div {
    background-color: #eee;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    line-height: 25px;
}

.todo2 .container div h4 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.todo2 .container div p {
    font-size: 17px;
}

/* Mobile */
@media (max-width: 767px) { 
}

/* Small Screens */
@media (min-width: 768px) {
}

/* Medium Screens */
@media (min-width: 992px) {
    .todo2 .container div {
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }
    .todo2 .container div h4 {
        color: red;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .todo2 .container div {
        width: calc(25% - 25px);
    }
    .todo2 .container div h4 {
        color: #43998b;
    }
}



/* ------------------------------ */
/* TODO: 3 */

.todo3 .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

.todo3 .container div {
    background-color: #eee;
    padding: 20px;
}

.todo3 .container div h4 {
    font-weight: bold;
    font-size: 20px;
}

.todo3 .container div p {
    font-size: 17px;
}

/* Mobile and small screens */
@media (max-width: 991px) {
    .todo3 .container div {
        grid-column: 1 / span 6;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .todo3 .container div h4 {
        color: red;
    }
    .todo3 .container div:first-child {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }
    .todo3 .container div:nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    .todo3 .container div:nth-child(3) {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    .todo3 .container div:last-child {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }

}

/* Large Screens */
@media (min-width: 1200px) {
    .todo3 .container div h4 {
        color: #43998b;
    }
    .todo3 .container div:first-child {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }
    .todo3 .container div:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
    .todo3 .container div:nth-child(3) {
        grid-column: 4 / span 3;
        grid-row: 2 / span 1;
    }
    .todo3 .container div:last-child {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
    }
}