

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}


/* TODO: 1 */

.todo1 .parent {
    background-color: #eee;
    text-align: center;

    width: 400px;
    height: 200px;
    margin: 50px auto 20px;
    padding: 20px;

    transition-duration: 0.5s;
}

.todo1 .down {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ddd;

    transition-delay: 0.5s;
    transition-duration: 0.5s;

}

.todo1 .parent:hover {
    margin-top: 20px;
}

.todo1 .down:hover {
    margin-top: 50px;
}



/* ------------------------------------------- */

/* TODO: 2 */

.todo2 div {
    width: 400px !important;
    font-size: 20px !important;
    background-color: #eee !important;
    border: none !important;
    color: black !important;
    margin: 30px auto;
    
    position: relative;
    
    text-indent: 9999px;
    white-space: nowrap;
    overflow: hidden;
}

.todo2 div::before {
    content: "Elzero";

    text-indent: 150px;
    font-weight: bold;

    position: absolute;
    top: 20px;
    left: 20px;
}



/* ------------------------------------------- */

/* TODO: 3 */

:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}
  
.todo3 div {
    width: 500px;
    margin: 10px auto;
    padding: var(--mainPadding, 10px);

    color: var(--mainColor, red);
    border: 2px solid var(--mainColor, black);
}