


/* 
    CSS Variables:
        -   Globale variable
        -   Local variable

    For Global variables:
        We add variables in the html element "root".

    We start the variable name by --
    We use the variable by calling a function named var(variable name, fallback value)
        Where "faullback value" is the value who replace the value of the variable if there is somthing happened to this variable 
*/

:root {
    --mainColor: blue; 
    --mainPadding: 10px;
}
 

.main {
    background-color: var(--mainColor, black);
    color: white;
    padding: calc(20px + var(--mainPadding) );
}

h2 {
    color: var(--mainColor);
    background-color: #eee;
    padding: var(--mainPadding);
}

p {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: var(--mainPadding);
}

a:hover {
    color: var(--mainColor);
}

.local {
    --mainColor: black;
    background-color: var(--mainColor);
    color: white;
}