

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* TODO: 1 */

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.circle-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* --------------------------------- */
/* TODO: 2 */

div {
    background-color: #eee;
    position: relative;
    margin: 50px auto;
    padding: 15px;
    width: 250px;
    height: 50px;
    
}

.arrow.top::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid;
    border-color: transparent transparent #eee transparent;
}

.arrow.right::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%);
    border: 10px solid;
    border-color: transparent transparent transparent #eee;
}

.arrow.bottom::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid;
    border-color: #eee transparent transparent transparent;
}

.arrow.left::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    border: 10px solid;
    border-color: transparent #eee transparent transparent;
}
