

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* 
    CSS Global Values: 

    -   inherit => inherit the value from the parent element.
    -   initial => the initial value of the element before the changes of the user agent (the browser).

    -   unset: => if the property inheritable, then => inherit, else => initial.
            --> If inherit => inherit
            --> else => initial

    -   revert CSS level [4] => get the user agent changes (remove other changes)

    -   all => ex: all: unset; => apply unset for all property of the element (which containe all: unset;).

*/




/* ========================================================================================= 
====================================== End of HTML & CSS ===================================
============================================================================================ */