

/* 
    2D Transform: 

        Scale: 
        -   transform: scaleX(1); => default value
        -   transform: scaleY(1); => default value
        -   transform: scale(1, 1); => default value, if the first and the second value in pparantese are the same, we can put one value (ex: scale(2, 2) <=> scale(2)).
                If we put a negatif value, the element will flip (for example: for the value -1).

        Rotate: => units: [deg: Degree] [rad: Radians] [grad: Gradians] [turn: Turn .. ex: (0.5turn or 1turn ..)]
        -   transform: rotate(0deg); => default value,
        
            Imprtant: when we use more then one property of transform => for ex: scale with rotate in the same time,
                    We use it like this => transform: scale() rotate() ...;
    
        Translait: => translate the element on x-axis or y-axis or both
        -   transform: translate(x-val, y-val); => Units: px, %, rem, ...
                If we put one value => it will consider it the x-val, and the y-val will be 0,
                    ex: transform: translate(100px); <=> transform: translate(100px, 0);
                    It accept negatif values to translat in the left side.


    Important: We need to use the prefixes!
*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.shape {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    background-color: #eee;
    display: flex;
}

.shape div {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 0, 0, 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;

    /* -webkit-transform: ...; */
    /* transform: scale(2, 1); */
    /* transform: scaleX(-1); */

    /* transform: rotate(90deg); */
    /* transform: rotate(-90deg); */


}

.shape .x-axis {
    position: relative;
}

.shape .x-axis::before {
    content: "--------------------------------------------------------";
    position: absolute;
    width: 300px;
    bottom: -30px;
    left: 0px;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
}

.shape .x-axis::after {
    content: "X-Axis";
    position: absolute;
    width: 50px;
    padding: 0 5px;
    background-color: white;
    bottom: -30px;
    left: 120px;
    display: flex;
    justify-content: center;
}

.shape .y-axis {
    position: relative;
}

.shape .y-axis::before {
    content: "--------------------------------------------------------";
    transform: rotate(90deg);
    position: absolute;
    width: 300px;
    top: 140px;
    left: -170px;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
}

.shape .y-axis::after {
    content: "Y-Axis";
    transform: rotate(90deg);
    position: absolute;
    padding: 0 5px;
    width: 50px;
    background-color: white;
    top: 140px;
    left: -50px;
    display: flex;
    justify-content: center;
}


.image {
    overflow: hidden;
    margin: 10px auto;
    width: 728px;
    height: 410px;
}

.image img {

    transition: 0.5s;
}

.image:hover img {
    transform: scale(1.3) rotate(5deg);
    opacity: 0.7;
}