
/* 
    2D Transform: Part 2: 

        Skew: 
        -   Transform: skewX(0deg);
        -   Transform: skewY(0deg);
        -   Transform: skew(0deg);

        Matrix: 
        -   Transform: matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY());

        Origin: 
        -   transform-origin: 50% 50% 0; => default value, it is the origin point of the tranform property, 
                            and these values are =>  transform-origin: x-val y-val z-val; (we can write only x-val and y-val for 2D formes),
        
    
    3D Transform: 
        Rotate: 
        -   Transform: rotateX(deg);
        -   Transform: rotateY(deg);
        -   Transform: rotateZ(deg);
        -   Transform: rotate3d(x, y, z, deg); where x, y, z are 0 or 1


        Translate:
        -   Transform: translate3d(x, y, z); => x, y, z are in normale unites => px, %, ..
                        If we want to use the z axis, We Need to define the prespactive in the container element

        Prespective: 
        -   prespactive: _px; => it is the space between the element and the screen 

        Prespective-origin: 
        -   prespactive-origin: 50% 50% or center center or ..; if we want to use it, we need to define prespective.

        -----------------
        
        Backface-Visibility: 


        Transform-Style: 


        Flip-Product: 


*/


* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.shape {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    background-color: #eee;
    display: flex;
}

.shape div {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 0, 0, 39%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
}

.shape .x-axis {
    position: relative;
}

.shape .x-axis::before {
    content: "--------------------------------------------------------";
    position: absolute;
    width: 300px;
    bottom: -30px;
    left: 0px;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
}

.shape .x-axis::after {
    content: "X-Axis";
    position: absolute;
    width: 50px;
    padding: 0 5px;
    background-color: white;
    bottom: -30px;
    left: 120px;
    display: flex;
    justify-content: center;
}

.shape .y-axis {
    position: relative;
}

.shape .y-axis::before {
    content: "--------------------------------------------------------";
    transform: rotate(90deg);
    position: absolute;
    width: 300px;
    top: 140px;
    left: -170px;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
}

.shape .y-axis::after {
    content: "Y-Axis";
    transform: rotate(90deg);
    position: absolute;
    padding: 0 5px;
    width: 50px;
    background-color: white;
    top: 140px;
    left: -50px;
    display: flex;
    justify-content: center;
}






.container {
    margin: 40px auto;
    width: 200px;

    perspective: 600px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;


    transform-style: preserve-3d;
    transition: transform 1s;
}

.box:hover {
    transform: rotateY(-180deg);
}

.box .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;


    backface-visibility: hidden;
}

.box .front {
    background-color: red;
}

.box .back {
    background-color: green;
    transform: rotateY(180deg);
}

