

/* Pseudo classes */
/* 
body {
    font-family: Arial, Helvetica, sans-serif;
}


.one {

    background-color: red;
    color: white;
}

ul li span {
    color: rgb(157, 157, 157);
}

.two {

    background-color: #eee;
    width: 100px;
    height: 100px;
}


.links a {
    text-decoration: none;
    color: green;
    background-color: #eee;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 5px;

}

a:hover {
    color: #eee;
    background-color: green;
}

a:visited {
    color: red;
}

a:visited:hover {
    color: #eee;
    background-color: red;

}



.box:focus {
    background-color: rgb(152, 200, 243);
    outline: none;
    border: 2px dashed rgb(34, 111, 255);
    color: white;
}

.ch:checked + label {
    color: red;
}
 */


/* --------------------------------------- */

/* Pseudo elements: 1 */
/* 
.one span {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.two::first-letter {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.three::first-line {
    background-color: rgb(127, 208, 127);
    color: rgb(0, 0, 0);
}

.three::first-letter {
    background-color: rgb(127, 208, 127);
    font-size: 70px;
    border: 1px solid black;
}

.three::selection {
    background-color: rgb(127, 208, 127);
    color: white;
}

.one::selection {
    background-color: rgb(240, 154, 154);
}

.two::selection {
    background-color: rgb(240, 154, 154);
    color: white;
} */


/* --------------------------------------- */

/* Pseudo elements: 2 */
/* ::before & ::after & content */

.parent {
    margin-bottom: 20px;
    overflow: hidden;

    counter-increment: members-counter;
}

.one {
    background-color: #eee;
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;
}

.user {
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
}

/* .one .pipeline {
    position: absolute;
    right: -10px;
    top: 0;
    background-color: rgb(42, 162, 42);
    width: 5px;
    height: 100%;
} */ 


/* .one::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    background-color: transparent;
    width: 0px;
    height: 0px;

    border: 10px solid;
    border-color: transparent rgb(42, 162, 42) rgb(43, 109, 43) transparent;
} */

.one::before {
    content: " ";
    position: absolute;
    top: calc(50% - 10px);
    left: -20px;

    background-color: transparent;
    width: 0px;
    height: 0px;

    border: 10px solid;
    border-color: transparent rgb(42, 162, 42) transparent transparent;

    /* content: attr(data-text);
    position: absolute;
    font-size: 15px;
    width: 70px;
    text-align: center;
    top: 50%;
    margin-top: -16px;
    left: -92px;
    background-color: #eee;
    display: none; */

}

/* .one:hover::before {
    display: inline-block;
} */
 
.one::after {
    /* content: "";
    position: absolute;
    right: -10px;
    top: 0;
    background-color: rgb(42, 162, 42);
    width: 5px;
    height: 100%; */
    
    content: counter(members-counter);
    position: absolute;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    right: -10px;
    top: 50%;
    margin-top: -10px;

    border: 1px solid black;

} 

ul {
    list-style: none;
}

ul li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
}

ul li::before {
    content: " ";
    position: absolute;
    top: calc(50% - 10px);
    left: -20px;

    background-color: transparent;
    width: 0px;
    height: 0px;

    border: 10px solid;
    border-color: transparent rgb(42, 162, 42) transparent transparent;
}